<div id="<%= dom_id user_story %>">

    <p>
      <div class="w-50 alert alert-light border border-dark" role="alert">

          <div class="row">

            <div class="col-10">
                <span class="badge text-bg-secondary">CK</span>
                <%= user_story.descriptive_name %>
            </div>

            <div class="col-2">
                
                <i class="fa-solid fa-pencil fa-lg"></i>
                &nbsp;
                <i class="fa-solid fa-plus fa-lg"></i>
                &nbsp;
                <i class="fa-regular fa-trash-can fa-lg"></i>
            </div>

          </div>

      </div>

    </p>

 

</div>
