<div id="<%= dom_id user_story %>">

    <p>
      <div class="w-50 alert alert-light border border-dark" role="alert">
          <span class="badge text-bg-secondary">CK</span>
          <%= user_story.descriptive_name %>
      </div>

    </p>

 

</div>
