<div id="<%= dom_id milestone %>">


  <p>
    <strong>Descriptive name:</strong>
    <%= milestone.descriptive_name %>
  </p>

 

</div>
<ul>
  <% milestone.user_stories.each do |user_story| %>

    <li><%= render user_story %></li>

  <% end %>
</ul>
