<p style="color: green"><%= notice %></p>

<h1>Milestones</h1>

<div id="milestones">
  <ul data-controller="sortable">
  <% @milestones.each do |milestone| %>
    <li data-sortable-update-url="<%= sort_milestone_path(milestone) %>">
    <%= render milestone %>
    
    </li>

  <% end %>
  </ul>
</div>
