<p style="color: green"><%= notice %></p>

<h1>Milestones</h1>

<div id="milestones">
  <ul data-controller="sortable">
  <% @milestones.each do |milestone| %>
    <li>
    <%= render milestone %>
    </li>

  <% end %>
  </ul>
</div>
