<div>

    <p class="h2 pb-2 mb-4 text-primary-emphasis border-bottom border-primary-emphasis" style="text-align: center">Current Open Projects</p>

<% current_user.whereis = "project" %>
<% current_user.save %>

</div>

<% current_user.memberships.each do |membership| %>
    <% project_data = Project.find(membership.project_id) %>


<div class="container text-center">
    <div class="alert alert-secondary" role="alert">
        <div class="container text-center">
            <div class="row">

                <div class="col">
                    <div class="row">
                        <div class="col">
                            &nbsp
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <h3><%= link_to "#{project_data.project_name}", controller: "projects", action: "show", id: project_data.id %></h3>   
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            &nbsp
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="container text-center">

                        <div class="row">
                            <div class="col" style="text-align: left">
                                <h5>Project Status : <%= project_data.status %></h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="text-align: left">
                                <h5>Milestones Completed: 99</h5>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col" style="text-align: left">
                                <h5>Unresolved Issues: 99</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<% end %>
